<h1>CONTACTS</h1>
<table border = 1px solid black>

<tr>
<th>First</th>
<th>Last</th>
<th>Full Name</th>
<th>Email</th>
<th>Phone</th>
<th>Time Created</th>
</tr>
<% @contacts.each do |contact| %>
<tr>
<td><%= contact.first_name %></td>
<td><%= contact.last_name %></td>
<td><%= contact.full_name %></td>
<td><%= contact.email %></td>
<td><%= contact.japanese %></td>
<td><%= contact.friendly_created_at %></td>
</tr>
<% end -%>

</table>
<h1><%= link_to "Add Contact", "/contacts/new", method: :get %></h1>